body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 100vh 100vh 100vh 100vh;
  justify-content: center;
  align-items: center;
}

.reactPortal {
  background-color: aliceblue;
}