<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    welocome
    <form action="/result" method="POST">
      <input type="text" name="color" />
      <button>Submit this</button>
    </form>

    <% if (isRaining) { %>
    <p>is is raining</p>
    <% } else { %>
    <p>its not rainin</p>
    <% } %> <% pets.forEach(pet => { %>
    <li><%= pet.name %> (<%= pet.species %>)</li>
    <% }) %>

    <div class="parent">
      <div class="child">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, qui.
      </div>
      <div class="child">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, qui.
      </div>
      <div class="child">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, qui.
      </div>
      <div class="child">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, qui.
      </div>
      <div class="child">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, qui.
      </div>
      <div class="child">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, qui.
      </div>
    </div>
  </body>
</html>
